@value accent-color, bg-main-color from "/src/common/colors.css";
@value media-size from "/src/common/size.css";
.container {
  background-color: bg-main-color;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.title {
  color: accent-color;
  font-size: 2rem;
}

.button {
  width: 90%;
  height: 2rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  margin-bottom: 1rem;
}

@media screen and (max-width: media-size) {
}
