@value accent-color, smokywhite from "/src/common/colors.css";

.container {
  margin-top: 0.5rem;
}

.checkbox {
  font-size: 1rem;
  margin: 0;
  padding-left: 0.3rem;
  color: smokywhite;
  margin-right: 0.3rem;
}

.text {
  outline: none;
  border: none;
  width: 1rem;
  padding: 0;
  background-color: transparent;
  color: smokywhite;
  font-size: 0.8rem;
}

.addbutton {
  background-color: transparent;
  margin-left: 0.3rem;
  color: accent-color;
  transition: transform 180ms ease-in;
}

.addbutton:hover {
  transform: scale(1.1);
}
