@value smokywhite,text-edit-bg-color from "/src/common/colors.css";

.container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.checkbox {
  font-size: 1rem;
  margin: 0;
  padding-left: 0.3rem;
  color: smokywhite;
  margin-right: 0.3rem;
}

.text {
  width: 5rem;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  color: smokywhite;
  font-size: 0.8rem;
}
