@value accent-color,smokywhite from "/src/common/colors.css";

.container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.checkbox {
  font-size: 1rem;
  margin: 0;
  padding-left: 0.3rem;
  color: smokywhite;
  margin-right: 0.3rem;
}

.text {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  color: smokywhite;
  font-size: 1rem;
  font-weight: bold;
}

.deletebutton {
  background-color: transparent;
  color: accent-color;
  font-size: 1rem;
  transition: transform 180ms ease-in;
}
