@value accent-color, smokywhite from "/src/common/colors.css";

.input {
  display: none;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  right: 6rem;
  width: 4rem;
  height: 1.8rem;
  background-color: accent-color;
}

.container.notUpload {
  background-color: grey;
}

.container.upload {
  background-color: accent-color;
}

.uploadbutton {
  background-color: transparent;
  color: smokywhite;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.loading {
  color: smokywhite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: media-size) {
}
