@value accent-color, smokywhite from "/src/common/colors.css";

.input {
  display: none;
}

.uploadbutton {
  position: absolute;
  bottom: 1rem;
  right: 6rem;
  width: 4rem;
  height: 1.8rem;
  padding: 0.5rem;
  background-color: accent-color;
  color: smokywhite;
  font-size: 0.8rem;
  font-weight: bold;
}

.loading {
  animation: spin 2s linear infinite;
}
