@value text-accent-color, document-bg-color, text-edit-bg-color from "/src/common/colors.css";

.container {
  width: 50%;
  background-color: document-bg-color;
  border-radius: 0.5rem;
  padding: 1rem;
}

.title {
  margin: 0;
  margin-bottom: 0.5rem;
  color: text-accent-color;
  font-size: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
  background-color: text-edit-bg-color;
}
