@value component-bg-gradient, text-accent-color, document-bg-color, text-edit-bg-color,smokywhite from "/src/common/colors.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 15%;
  background: text-edit-bg-color component-bg-gradient;
  border-radius: 0.5rem;
  padding: 1rem;
}

.title {
  margin: 0;
  color: text-accent-color;
  font-size: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  color: smokywhite;
  font-weight: bold;
  background-color: text-edit-bg-color;
  outline: none;
}
