@value text-edit-bg-color from "/src/common/colors.css";

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.container {
  position: absolute;
  text-align: center;
  background-color: text-edit-bg-color;
  z-index: 1;
}
