@value text-edit-bg-color from "/src/common/colors.css";

.container {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  text-align: center;
  background-color: text-edit-bg-color;
  z-index: 1;
}
