li {
  list-style: none;
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: red;
}

.button_container {
  display: flex;
  padding: 0;
}
