@value accent-color, text-accent-color, component-bg-gradient,border-color,shadow-color,smokywhite from "/src/common/colors.css";

.list {
  width: 90%;
  background: component-bg-gradient;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid border-color;
  box-shadow: 3px 3px 8px 2px shadow-color;
  border-radius: 0.5rem;
}

.container {
  display: flex;
}

.document {
  flex: 100%;
  padding-left: 1rem;
  padding-bottom: 1em;
  color: smokywhite;
}

.title {
  display: flex;
}

.title__text {
  color: text-accent-color;
  margin: 0;
  margin-top: 1rem;
}

.deletebutton {
  background-color: transparent;
  color: accent-color;
  font-size: 1.2rem;
  transition: transform 180ms ease-in;
}

.deletebutton:hover {
  transform: scale(1.3);
}
